<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>dab dab dab dab dab dab dab dab dab dab if you like fortnite</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">

    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">

</head>

<body>
    <div id="gamecontent">
        <div *ngIf="playersIndexes.length > 3" class="player2 hand">
            <div class="cardholderwrap">
                <div class="cardholder">
                    <div *ngFor="let card of playerCards[playersIndexes[3]].cards">
                        <div  class="card" [style.transform]="'rotate('+(card.rotation)+'deg)'">
                            <div class="cardimg"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="namefield">{{playerCards[playersIndexes[3]].name}} - {{playerCards[playersIndexes[3]].cards.length == 0 ? "Finised":playerCards[playersIndexes[3]].cards.length}}</div>
            <div class="stiche"></div>
        </div>
        <div *ngIf="playersIndexes.length > 2" class="player4 hand">
            <div class="cardholderwrap">
                <div class="cardholder">
                    <div *ngFor="let card of playerCards[playersIndexes[2]].cards">
                        <div  class="card" [style.transform]="'rotate('+(card.rotation)+'deg)'">
                            <div class="cardimg"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="namefield">{{playerCards[playersIndexes[2]].name}} - {{playerCards[playersIndexes[2]].cards.length == 0 ? "Finised":playerCards[playersIndexes[2]].cards.length}}</div>
            <div class="stiche"></div>
        </div>
        <div id="innergamecontent">
            <div *ngIf="playersIndexes.length > 1" class="player3 hand">
                <div class="cardholderwrap">
                    <div class="cardholder">
                        <div *ngFor="let card of playerCards[playersIndexes[1]].cards">
                            <div  class="card" [style.transform]="'rotate('+(card.rotation)+'deg)'">
                                <div class="cardimg"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="namefield">{{playerCards[playersIndexes[1]].name}} - {{playerCards[playersIndexes[1]].cards.length == 0 ? "Finised":playerCards[playersIndexes[1]].cards.length}}</div>
                <div class="stiche"></div>
            </div>
            <div id="table">
                <div id="jassmatwrap">
                    <div id="jassmatborder">
                        <div id="jassmat">
                            <form (submit)="addLocation($event)">
                                <div class="button-container">
                                    <input type="submit" value="Get by LocationId">
                                </div>
                            </form>
                            <div id="matcardwrap">
                                <div *ngIf="numberOfCardsSelected > 3 && lastCard !=0" class="card unselectable schelle {{getCardNumberClass(cardService.lastCard.number)}} player3" style="">
                                    <div class="cardimg"></div>
                                </div>
                                <div *ngIf="numberOfCardsSelected > 2 && lastCard !=0" class="card unselectable roesle {{getCardNumberClass(cardService.lastCard.number)}} player1" style="">
                                    <div class="cardimg"></div>
                                </div>
                                <div *ngIf="numberOfCardsSelected > 1 && lastCard !=0" class="card unselectable roesle {{getCardNumberClass(cardService.lastCard.number)}} player2" style="">
                                    <div class="cardimg"></div>
                                </div>
                                <div *ngIf="lastCard !=0" class="card unselectable {{getCardTypeClass(cardService.lastCard.type)}} {{getCardNumberClass(cardService.lastCard.number)}} player0" style="">
                                    <div class="cardimg"></div>
                                </div>
                            </div>
                            <div class="turnindicator" [style.transform]="'rotate('+(turnRotation * 90 + 45)+'deg)'" style="color: transparent; transition: transform 0.5s ease 0s, background-color 0.3s ease 0s; background-color: var(--turn-indicator-yellow);"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div *ngIf="playersIndexes.length > 4" class="player1 hand">
                <div class="cardholderwrap">
                    <div class="cardholder">
                        <div *ngFor="let card of playerCards[playersIndexes[4]].cards">
                            <div  class="card" [style.transform]="'rotate('+(card.rotation)+'deg)'">
                                <div class="cardimg"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="namefield">{{playerCards[playersIndexes[4]].name}} - {{playerCards[playersIndexes[4]].cards.length == 0 ? "Finised":playerCards[playersIndexes[4]].cards.length}}</div>
                <div class="stiche"></div>
            </div>
            <div *ngIf="playersIndexes.length > 4" class="player5 hand">
                <div class="cardholderwrap">
                    <div class="cardholder">
                        <div *ngFor="let card of playerCards[playersIndexes[4]].cards">
                            <div  class="card" [style.transform]="'rotate('+(card.rotation)+'deg)'">
                                <div class="cardimg"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="namefield">{{playerCards[playersIndexes[4]].name}} - {{playerCards[playersIndexes[4]].cards.length == 0 ? "Finised":playerCards[playersIndexes[4]].cards.length}}</div>
                <div class="stiche"></div>
            </div>
            
        </div>
        <div *ngIf="playersIndexes.length > 0" class="player0 hand">
            <div class="cardholderwrap">
                <div class="cardholder">
                    <div *ngFor="let card of playerCards[playersIndexes[0]].cards">
                        <div (click)="cardClicked(card)" class="{{card.class}} {{card.isClickable? '' : 'unselectable'}}" [style.transform]="'rotate('+(card.rotation)+'deg)'">
                            <div class="cardimg"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="namefield">
                <select (change)=numberCardsChanged($event.target.value) [value]="numberOfCardsSelected" [disabled]="this.lastCard != 0">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                </select><br><br>
                <div>{{playerCards[playersIndexes[0]].name}}</div>
                <button (click)="turnPassed()" [disabled]="turnRotation != 0 || passButtonActivated == false">Pass</button>

            </div>
            <div class="stiche"></div>
            
        </div>

    </div>

    <div id="gui">
        
        <div id="top-right-button-wrapper">
            <div class="toggle-scoreboard" (click)="scoreboardClicked()">
                <div style="text-align: center; text">
                    Name | Score<br>
                    -----------------
                    User1 100<br>
                    User1 50<br>
                </div>
            </div>
        </div>
        <div id="trumpf"></div>
        <div class="pop-up-window-container" id="score" [style.display]="displayScoreboard ? '' : 'none'" (click)="scoreboardClicked()">
            <div class="pop-up-window" id="score-window">
                <div class="title-2">Scoreboard</div> <br>
                <table class="scoretable">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Score</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let score of scoreboard">
                            <td>{{score.name}}</td>
                            <td>{{score.score}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>


        <div class="pop-up-window-container" id="last-stich" style="display: none;">
            <div class="pop-up-window" id="last-stich-window">
                <div class="title-2">Last Stich<br><br></div>
                <div class="stichtable">
                </div>
            </div>
        </div>

        <div class="pop-up-window-container" id="diff" style="display: none;">
            <div class="pop-up-window" id="diff-window">
                <div class="slidercontainer">
                    <div id="slider-value">40</div>
                    <input id="slider" type="range" min="0" max="157" step="1" value="40">
                </div>
                <div class="button diff-go">Go!</div>
            </div>
        </div>

        <div class="pop-up-window-container" id="trumpf-container" style="display: none;">
            <div class="pop-up-window" id="trumpf-window">
                <div class="info-field title-2">Choose a trumpf!</div><br>
                <div id="trumpf-window-buttons"></div>
            </div>
        </div>

        <div #popUpWindowContainer2 class="pop-up-window-container" id="lobby-container"
            [style.display]="displayPopUp ? '' : 'none'">
            <div class="pop-up-window" id="lobby-window">
                <div class="info-field">
                    <span class="title-2">Waiting For Players</span><br><br>
                    <div id="waiting-player-container">
                        <form (submit)="addPlayer($event)">
                            <div class="input-container">
                            <input type="text" placeholder= "Name" id="Name" value="test" />
                            <div class="bar"></div>
                            </div>
                            <div class="button-container">
                                <input type="submit" style="padding:20px; background:white;color:tomato;border:2px solid tomato;" value="Enter">
                            </div>
                        </form>
                    </div>
                </div>
                <select class="game-type-selector select">
                    <option class="select-option" value="differenzler">Differenzler</option>
                    <option class="select-option" value="schieber">Schieber</option>
                </select>
                <div class="button lobby-startgame">Start Game</div><br>
                <div class="button reload-page">Reload</div>
            </div>
        </div>
    </div>

</body>

</html>